includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon


parameters:
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
